@model IEnumerable<VideoViewModel>
@{ 
    ViewBag.Title = "Home";

}

@Html.ActionLink("Create", "Create")
<table>
    @foreach (var video in @Model)
    {
        <tr>
            <td>
                @Html.ActionLink(video.Id.ToString() + "Details", "Details", new { id = video.Id })
        </td>
        <td>Id: @video.Id </td>
        <td> Title: @video.Title</td>
        <td>Genre: @video.Genre</td>
    </tr>
    }
</table>

@section footer{
    <div>This is where the footer goes.</div>
}